@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.t {
  border: 1px solid red;
}

.b21 {
  border: 1px solid #EDF2F7;
}

.b22 {
  border-bottom: 1px solid #EDF2F7;
}

.b23 {
  border-top: 1px solid #EDF2F7;
}

.card-w {
  width: 420px;
}

.color-primary {
  color: #4299e1 !important;
}